table {
    font-family: "Roboto", sans-serif;
    font-size: 500;
    text-align: center;
    border: 2px solid #000000;
    border-collapse: collapse;
}
th,
td {
  border: 1px solid #000000;
  padding: 8px 10px;
}

.weekend {
    color: #ff0000;
}
 