:root {
    /* font-family */
    --font-main: "Inter", sans-serif;
    --font-secondary: 'ReadexPro', sans-serif;

    /* colors */
	--color-dark: #000;
    --color-light: #ffffff;
    --color-grey: #f8f9fa;
	--color-accent: #4b6a60;
	--color-neutral: #8d8d8d;
    --color-green: #dce5e2;
	--border-color: #c5c5c5;


    /* shadows */
    --shadow-glow: 0 4px 35px 0 #00000040;
    
    /* container */
    --container-width: 1294px;
    --container-padding: 15px;

    /* transitions */
    --transition-time: 0.2s;

    /* layers */
    --layer-negative: -1;
    --layer-0: 0;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
}